<div class="modal-header">
    <button class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">{{ trans('module::message.choose_admin_theme') }}</h4>
</div>

<div class="modal-body">
    <ul class="nav nav-stacked">
        {% for theme in themes %}
            <li>
                <a href="{{ url_to('admin/appearance/admin/activate/' ~ theme.namespace) }}">
                    <strong>{{ trans(theme.name) }}</strong>

                    {% if theme.active %}
                        &nbsp;<span class="text-success">({{ trans('module::message.active') }})</span>
                    {% endif %}

                    <br>

                    <small>{{ trans(theme.description) }}</small>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
